[submodule "Assets/OpenIMPRESS/oi.plugin.spatialmesh"]
	path = Assets/OpenIMPRESS/oi.plugin.spatialmesh
	url = https://github.com/OpenIMPRESS/oi.plugin.spatialmesh.git
[submodule "Assets/OpenIMPRESS/oi.core.network"]
	path = Assets/OpenIMPRESS/oi.core.network
	url = https://github.com/OpenIMPRESS/oi.core.network.git
[submodule "Assets/OpenIMPRESS/oi.plugin.kinectMarkerAlignment"]
	path = Assets/OpenIMPRESS/oi.plugin.kinectMarkerAlignment
	url = https://github.com/OpenIMPRESS/oi.plugin.kinectMarkerAlignment.git
[submodule "Assets/OpenIMPRESS/oi.plugin.rgbd"]
	path = Assets/OpenIMPRESS/oi.plugin.rgbd
	url = https://github.com/OpenIMPRESS/oi.plugin.rgbd.git
[submodule "Assets/OpenIMPRESS/oi.plugin.transform"]
	path = Assets/OpenIMPRESS/oi.plugin.transform
	url = https://github.com/OpenIMPRESS/oi.plugin.transform.git
[submodule "Assets/OpenIMPRESS/oi.plugin.audio"]
	path = Assets/OpenIMPRESS/oi.plugin.audio
	url = https://github.com/OpenIMPRESS/oi.plugin.audio.git
[submodule "Assets/OpenIMPRESS/oi.plugin.linedrawing"]
	path = Assets/OpenIMPRESS/oi.plugin.linedrawing
	url = https://github.com/OpenIMPRESS/oi.plugin.linedrawing.git
